# In docker/docker-compose.yaml

services:
  redis:
    image: redis:latest
    container_name: redis_db
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  minio:
    image: minio/minio
    container_name: minio_storage
    restart: always
    ports:
      - "9000:9000"  # API access
      - "9001:9001"  # Console access
    environment:
      MINIO_ROOT_USER: minioadmin   # <-- Change this for production!
      MINIO_ROOT_PASSWORD: minioadmin # <-- Change this for production!
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
volumes:
  redis_data:
  minio_data: