python-dotenv
langchain==1.0.0a6
fastapi
uvicorn[standard]
pydantic
pydantic-settings
loguru
clerk-backend-api
langchain-openai
langchain-google-genai
langchain-groq
langchain-ollama
langchain-community 
llama-cpp-python
langchain-cerebras
